#heading{
  color: #B270A2;
  font-family:Sacramento,serif;
  font-size: 60px;
  font-weight: normal;
  position: relative;
  margin: 100px auto 0 auto;
}
#heading:hover{
  color: #F73D93;
}
.firstcontainer{
  background-color: #FCE2DB;
  width: 100%;
  position: absolute;
  top:0px;
}
.middlecontainer{
  background-color: white;
  width: 100%;
  padding-bottom: 100px;
}
.bottomcontainer{
}
#dev{
  font-family:cursive;
  color:#B270A2;
  position: relative;
  line-height: 1;
}
body{
  text-align: center;
  margin: 0;
}
#image{
  position: relative;
  margin: 80px auto 0 auto;
  padding-bottom: 20px;
  height: 300px;
  width: 300px;
}
span{
  text-decoration: underline;
}
#dp{
  position: relative;
  height:10%;
  width: 10%;
}
.greet{
  color: #B270A2;
  position: relative;
  font-family:Sacramento;
  font-size: 30px;
}
.intro{
  color: #B270A2;
  font-size: 20px;
  margin: 100px auto 100px auto;
}
.intro:hover{
  color: #F73D93;
}
.top{
    border-style: none;
    border-top-style: dotted;
    position: relative;
    border-color: #B270A2;
    border-width: 5px;
    width: 10%;
}
.skill{
  color: #B270A2;
  position: absolute;
  left: 10px;
  text-decoration:underline;
  font-family: Sacramento;
  font-size: 60px;
  margin:0px auto 10px 0px
}
.skill:hover{
  color: #F73D93;
}
.logop{
  position: relative;
  height: 100px;
  width: 100px;
  float: left;
}
.logos{
  position: relative;
  border: 0px auto 0px auto;
  height: 100px;
  width: 100px;
}
.logoh{
  position: relative;
  border: 0px auto 0px auto;
  height: 100px;
  width: 100px;
}
.skip{
  color: #B270A2;
  position: relative;
  left: 100px;
  font-size: 20px;
  border: 10px;
}
.skis{
  color: #B270A2;
  position: relative;
  left: 100px;
  font-size: 20px;
  border: 0px auto 0px auto;
}
.skih{
  color: #B270A2;
  position:relative;
  left: 100px;
  font-size: 20px;
  border: 0px auto 0px auto;
}
.middle{
  border-style: none;
  border-top-style: dotted;
  position: relative;
  border-color: #B270A2;
  border-width: 5px;
  width: 10%;
}
.final{
  background-color: #FF8FB1;
  height: 200px;
  width: 100%;
  position: relative;
}
.contact{
  color: white;
  font-size: 20px;
  font-family: cursive;
}
.tag{
  color: white;
  font-size: 20px;
  font-family: cursive;
}
.main{
position: relative;
height: 800px;
width: 100%;
}
.maint{
position: relative;
height: 600px;
width: 100%;
}
.pytab{
position: relative;
top:150px;
left: 100px;
}
.mains{
height: 600px;
width: 100%;
}
.sytab{
position: relative;
top: 200px;
left:100px;
}
.hytab{
position: relative;
top: 250px;
left:100px;
}
